# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
!.env.example

# Prisma local DB
prisma/dev.db
prisma/dev.db-journal

# Zips e pacotes
*.zip

# Windows metadata that sometimes leaks
*:Zone.Identifier

# Editor
.vscode/
.idea/
